.header_section {
	border: 1px solid black;
	height: 125px;
	background-color: #484848;
}

.recommended_articles {
	border: 1px solid black;
	height: 900px;
	display: flex;
}

.recommended_article {
	display: flex;
	border: 1px solid black;
}

#article1 {
	flex: 1;
	background-color: #585858;
}

#article2 {
	flex: 1;
	flex-direction: column;
	align-items: center;
	background-color: #484848;
}

#article3 {
	flex: 1;
	background-color: #585858;
}

#recommended_articles_title {
	margin-top: 50px;
	border: 1px solid black;
	width: 500px;
	height: 75px;
	background-color: #404040;
}

#recommended_articles_title2 {
	border: 1px solid black;
	border-top: transparent;
	width: 200px;
	height: 75px;
	background-color: #404040;
}

.minor_recommended_articles_section {
	border: 1px solid black;
	display: flex;
	height: 2300px;
	padding-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	flex-wrap: wrap;
}

.minor_recommended_article {
	border: 1px solid black;
	width: 445px;
	height: 700px;
	margin-bottom: 100px;
	margin-right: 30px;
	background-color: #707070;
}

#members_features_box {
	width: 920px;
	background-color: #404040;
}

#advertised_article {
	background-color: #404040;
}

.latest_articles_strip {
	height: 200px;
	border: 1px solid black;
}

.pre-release_book_promo {
	border: 1px solid black;
	height: 1100px;
	background-color: #404040;
}

.person_week_section {
	border: 1px solid black;
	height: 1900px;
	display: flex;
	margin-left: 150px;
	margin-right: 150px;
	flex-wrap: wrap;
}

.person_week_article {
	border: 1px solid black;
	height: 400px;
	width: 100%;
	background-color: #707070
}

.person_week_comment {
	border: 1px solid black;
	height: 200px;
	width: 45%;
	margin-right: 2.5%;
	background-color: #707070
}

.featured_book_section {
	border: 1px solid black;
	height: 400px;
	background-color: #404040;
}

.guides_section {
	border: 1px solid black;
	height: 1000px;
	margin-left: 150px;
	margin-right: 150px;
	display: flex;
}

.guide {
	border: 1px solid black;
	height: 80%;
	flex: 1;
	background-color: #787878;
}

.newsletter_section {
	border: 1px solid black;
	margin-left: 150px;
	margin-right: 150px;
	height: 1000px;
	background-color: #404040;
}

.blank_more_articles_section {
	border: 1px solid black;
	height: 400px;
}

.footer_section {
	border: 1px solid black;
	height: 725px;
	background-color: #404040;
}